.plannerContainer {
    padding: 2%;
    display: flex;
    width: 70%;
    border: 1px solid #000000;
    overflow-y: scroll;
    flex-direction: column;
    background-color: rgba(255, 255, 255); //background-color: rgba(255, 255, 255, 0.5);
}

.title1 {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}
.title2 {
    font-weight: bold;
    font-size: 45px;
    margin: 0;
}

.plannerCalender {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: rgb(255, 255, 255);
}

.plannerTodo {
    display: flex;
    position: relative;
    width: 100%;
    height: 90vh;
    overflow-y: hidden;
    padding: 20px;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: rgb(255, 255, 255);
}

.plannerTodoContainer {
    width: 55%;
    margin: 1%;
    padding: 2%;
    border: 1px solid #000000;
    border-radius: 10px;
}

.plannerTodoAddContainer {
    width: 43%;
    margin: 1%;
    padding: 2%;
    border: 1px solid #000000;
    border-radius: 10px;
}

.assetStatusContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 50vh;
    margin-bottom: 4%;
    position: relative;
}

.navbarMenu{
    width:100%;
    display: flex;
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

.navbarMenu li {
    padding: 8px 12px;

}

.navContainer {
    margin-top: 3%;
    border-bottom: 1px solid #333;
}

.navbarMenu :hover {
    background: #eeeeee;
    border-radius: 4px 4px 0 0;
}

.selected {
    background: #333;
    color: #ffffff;
    border-radius: 4px 4px 0 0;
}

.assetStatus {

}

.table {
    width: 60%;
    height: 90%;
    border-collapse: collapse;
}

.table td {
    width: 50%;
    height: 20px;
    border: 1px solid #000000;
}

.assetListContainer {
    width: 100%;
    height: 40%;
    border: 1px solid #000000;
    margin-bottom: 5%;
}

.assetChartContainer {
    width: 100%;
    height: 40%;
    border: 1px solid #000000;
}


.calendarContainer {
    width:100%;
    font-size: 1.5vh;
    display: flex;      /* display 설정해줘야 아래 flex로 해주면 direction 선택가능*/
    flex-direction: column;   /* 이건 세로순으로  태그들을 표시함 css*/
    align-items: center;      /* 이건 가로 중앙 css*/
    justify-content: flex-start;  /* 이건 세로 중앙 css*/
    padding: 5%;
}


.Date {
    font-size: 20px;
    margin: 0 20px;
    vertical-align: middle;
}
.control {
    display: flex;
    margin-bottom: 15px;
}

.calendarTable{
    margin:0;
    display:flex;
    width:100%;
}
.calendarTbody{
    width:100%;
    display:flex;
    flex-direction: column;
}
.calendarTr{
    display:flex;
    flex-direction: row;
}
.calendarTd{
    display:flex;
    border:1px solid gray;
    width:15%;
    height:15vh;
}

.calendartoday{
    display:flex;
    border:1px solid gray;
    width:15%;
    height:100%;
    background-color: peachpuff;
}

.dayItem {
   border:1px solid red;
    width: 100%;
    height: 100% ;
}

.calendarother{
    display:flex;
    border:1px solid gray;
    width:15%;
    height:15vh;
    background-color: #eaeaea;
}

.App td span{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.inputContainer {
    border: 1px solid #333333;
    height: 38px;
    border-radius: 8px;
}
.inputStyle {
    border: 0;
    outline: none;
    font-size: 22px;
    margin: 5px;
}







.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}